
<div class="container">
<table>

<thead>
  <th scope="col-12">
      <%= "#{@user.first_name} #{@user.last_name}"%>
  </th>
</thead>



<tbody>



<tr>
<th scope="col-6">
    Email:
</th>
<th></th>
  <td scope="col-6">
  <%= @user.email%>
  </td>
</tr>
<tr>
  <th scope="col-6">
    Password:
  </th>
  <th></th>
  <td scope="col-6">
 <%= @user.password%>
  </td>
</tr>
  <tr>
    <th scope="col-6">
    Cohort:
    </th>
    <th></th>
<td>
    <%= App.get_info "cohort", "cohort_name", @user.cohort_id%>
</td>
</tr>

<tr>
  <th>
  Specialisation:
  </th>
  <th></th>
  <td>
   <%= App.get_info "specialisation", "specialisation_name", (App.get_info "cohort", "specialisation_id", @user.cohort_id) %>
  </td>
</tr>

</tbody>

<tr>
  <th>
  Role:
  </th>
  <th></th>
  <td>
  <%= App.get_info "role", "role_name", @user.role_id%>
  </td>
</tr>

<tr>
  <button type="button" name="button"><a href="<%= @user.user_id %>/edit">Edit User</a></button>
</tr>
      <form class="" action="/users/<%= @user.user_id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete User">
      </form>
</table>
</div>
