
<div class="container">

<div class="row">
  <div class="col-12">
    <h1>
      <%= "#{@user.first_name} #{@user.last_name}"%>
    </h1>
  </div>
</div>
<br>

<div class="row">
  <div class="col-2">
    Email:
  </div>
  <div class="col-6">
      <%= @user.email%>
  </div>
</div>

<br>

<div class="row">
  <div class="col-2">
    Password:
  </div>
  <div class="col-6">
    <%= @user.password%>
  </div>
</div>

<br>

<div class="row">
  <div class="col-2">
    Cohort:
  </div>
  <div class="col-6">
    <%= App.get_info "cohort", "cohort_name", @user.cohort_id%>
  </div>
</div>

<br>

<div class="row">
  <div class="col-2">
      Specialisation:
  </div>
  <div class="col-6">
    <%= App.get_info "specialisation", "specialisation_name", (App.get_info "cohort", "specialisation_id", @user.cohort_id) %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-2">
  Role:
  </div>
<div class="col-6">
  <%= App.get_info "role", "role_name", @user.role_id%>
  </div>
</div>

<br>
<div class="row">
  <div class="col-6">
  <button type="button" name="button"><a href="<%= @user.user_id %>/edit">Edit User</a></button>
</div>
<div class="col-6">
      <form class="" action="/users/<%= @user.user_id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete User">
      </form>
</div>
</div>
</div>
