<h1>
  <%= "#{@user.first_name} #{@user.last_name}"%>
</h1>

<h2>
  Email: <%= @user.email%>
</h2>

<h2>
  Password: <%= @user.password%>
</h2>

<h2>
  Cohort: <%= @user.get_info "cohort", "cohort_name", @user.cohort_id%>
</h2>

<h2>
  Specialisation: <%= @user.get_info "specialisation", "specialisation_name", (@user.get_info "specialisation", "specialisation_id", @user.cohort_id) %>
</h2>

<h2>
  Role: <%= @user.get_info "role", "role_name", @user.role_id%>
</h2>

<button type="button" name="button"><a href="<%= @user.user_id %>/edit">Edit</a></button>
