<h1>
  <%= "#{@user.first_name} #{user.last_name}"%>
</h1>

<h2>
  Email: <%= @user.email%>
</h2>

<h2>
  Password: <%= @user.password%>
</h2>

<h2>
  Cohort_id: <%= @user.cohort_id%>
</h2>

<h2>
  Role_id: <%= @user.role_id%>
</h2>
