

<h1>
  <%= "#{@user.first_name} #{@user.last_name}"%>
</h1>

<h2>
  Email: <%= @user.email%>
</h2>

<h2>
  Password: <%= @user.password%>
</h2>

<h2>
  Cohort: <%= App.get_info "cohort", "cohort_name", @user.cohort_id%>
</h2>

<h2>
  Specialisation: <%= App.get_info "specialisation", "specialisation_name", (App.get_info "cohort", "specialisation_id", @user.cohort_id) %>
</h2>

<h2>
  Role: <%= App.get_info "role", "role_name", @user.role_id%>
</h2>
<button type="button" name="button"><a href="<%= @user.user_id %>/edit">Edit User</a></button>

<form class="" action="/users/<%= @user.user_id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete User">
</form>
